<header>
    <h1>Agendamento de SMS</h1>
</header>

<div class="float-right">
    <button class="btn btn-success btn-xs" (click)="newSchedule()">
      Novo Agendamento
    </button>
</div>
<br>

<div *ngIf="listSchedule">
    
    <div class="row" *ngIf="allSchedule.length > 0">
        <div class="col-xs-2 col-md-2" *ngFor="let i of allSchedule">
            <div class="block" [ngStyle]="{ 'background-color': i % 0 ? '#E6EFE6' : '#FFFFFF'}">
                <span><b>Hrs:</b> {{ i.hour_min }}</span><br>
                <span>{{ i.users.length }} Pessoas</span><br>
                <button class="btn btn-primary btn-xs" (click)="editOne(i)">Editar</button>
            </div>
        </div>
    </div>

    <div *ngIf="allSchedule.length == 0">
        Não há agendamento cadastrado.
    </div>
    
    <div class="form-group col-sm-12">
        <br><br>
        <button class="btn btn-lg btn-primary" (click)="confirm()" [disabled]="disabledBtn()">Confirmar</button>
        <button class="btn btn-lg btn-danger spacing-left" (click)="cancel()">Cancelar</button>
    </div>
</div>
